@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

section {
  padding: 60px 0;
  overflow: hidden;
}



.bg2 {
  background-image: url("../../../assets/image/bg-2.png");
  padding-top: 2px;
  height: 400px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

.eu {
  font-family: "Open Sans", sans-serif;
  font-size: 63px;
  font-weight: 600;
  line-height: 67px;
  color: #6b61f5;
}

.go {
  font-family: "Open Sans", sans-serif;
  font-size: 53px;
  font-weight: 300;
  line-height: 34px;
  color: #cb9f67;
}

.eu-sub {
  font-style: "Poppins, Roboto";
  font-size: 60px;
  font-weight: 600;
  line-height: 63px;
  color: #f48c06;
}

.eu-sub > .test::before {
  content: "";
  color: #6b61f5;
  animation: profile 5s infinite;
}

.eu-desc {
  font-style: "Roboto, Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color: rgb(115, 122, 123);
}

.title {
  font-style: "Poppins, sans-serif";
  font-size: 46px;
  font-weight: 700;
  line-height: 50px;
  color: rgb(51, 51, 51);
}

.desc {
  font-style: "Rubik, sans-serif";
  font-size: 18px;
  font-weight: 300;
  line-height: 30.6px;
  color: rgb(73, 73, 73);
}

.sm-title {
  font-style: "Poppins, sans-serif";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(40, 40, 40);
}

.border {
  display: inline-block;
  width: 50px;
  height: 4px;
  margin: 6px;
  background-color: rgb(51, 51, 51);
}



/* Animation */

@keyframes profile {
  0% {
    content: "France";
  }
  50% {
    content: "Germany";
  }
  100% {
    content: "Italy";
  }
}







