<!-- row-1 -->
<section>
  <div class="row">
    <div class="col-sm-6 justify-content-center  order-2 order-lg-1">
      <div data-aos="fade-up-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
        data-aos-easing="ease-in-out">
        <div class="card border-0">
          <div class="card-body">
            <div class="pt-5">
              <sub class="eu-sub pt-2">Career gateway to Europe <span class="test"></span></sub>
            </div>
            <br />
            <div class="pt-2">
              <sub class="eu-desc pt-2">Eugo is an omnichannel analytics platform for students.
                we help you to make strategic decisions and optimize your budget based on our e-store database and
                algorithms.</sub>
            </div>
            <br />
            <br />
            <br />
            <button type="button" class="btn btn-outline-primary" style="border-radius: 3em; margin: 10px;">
              <a routerLink="/login" routerLinkActive="active">.Try now</a></button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-success" style="border-radius: 3em; margin: 10px;">Learn
              more</button>

            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6  order-1 order-lg-2" style="justify-content: center;">
      <div data-aos="fade-up-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
        data-aos-easing="ease-in-out">
        <img src="../../../assets/image/test@2x.png" class="img-fluid" />
      </div>
    </div>
  </div>

</section>


<!--row 2-->
<section>

  <div class="row m-3 p-5">
    <div class="col-sm-12">
      <div>Sounds awesome</div>
      <span class="border border-bottom-0"></span>
      <br />
      <br />
      <h2 class="title">Why Eugo ?</h2>
    </div>
  </div>
  <div class="row  m-2 pt-2">
    <div class="col-sm-6">
      <img src="../../../assets/image/process.jpg" class=" floating img-fluid" />
    </div>
    <div class="col-sm-6" style="text-align: center;" data-aos="zoom-in" data-aos-easing="linear"
      data-aos-duration="500">
      <div class="card border-0" style="padding-top: 52px;">
        <div class="card-body desc">
          <h1 style="font-size: 32px;font-weight: 700;line-height: 50px;">Our process</h1>
          <p class="pt-3"> we are the first ever e-platform which helps student to pursue there higher education in
            europe.Our main
            objective is
            to help students make desicions regarding their higher education and put every thing transperent and more
            over
            he can interact with university directly with out paying a single penie from his pocket. Our maingoal is
            to
            help
            student
            plan his arrival in europe and preddict his future in europe thanks to our algorythums which is iterlinked
            with
            the huge database.</p>
        </div>
      </div>
    </div>
  </div>
</section>





<!-- row-3--->
<section>

  <div class="row m-3 p-5">
    <div class="col-sm-12">
      <div>Brands we proud to work with</div>
      <span class="border border-bottom-0"></span>
      <br />
      <br />
      <h2 class="title">We love our clients</h2>
    </div>
  </div>
  <div class="row m-5 pt-5">
    <div class="col-sm-2 pt-5" *ngFor="let item of universityLogo">
      <img class="mr-3 pt-3" alt="Generic placeholder image" src="{{item}}" width="100" height="100" />
    </div>
  </div>

</section>


<!-- row-4 -->
<section>

  <div class="row m-5 pt-5">
    <div class="col-sm-12">
      Our Services
      <br />
      <span class="border border-bottom-0"></span>
      <br />
      <br />
      <h1 class="title">Look at our capabilities.</h1>
    </div>
  </div>

</section>


<!-- row-5 -->

<section>

  <div class="row m-5 pt-4" style="text-align: center;">
    <div class="col-sm-6 order-2 order-lg-1" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
      <h2>Admissions</h2>
      <span class="border border-bottom-0"></span>
      <br />
      <p class="desc m-3  pt-3">
        Targeted advertising campaigns on Facebook, Instagram, LinkedIn, Snapchat, Youtube allow you to get more
        potential
        clients into your funnel and increase revenue drastically. We increase ROI and ROAS by segmenting the audience
        to
        bring the individual message to each audience. Bringing them the maximum value, and you the maximum profit.
      </p>
    </div>
    <div class="col-sm-6 order-1 order-lg-2" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
      <img src="../../../assets/image/student.png" class="img-fluid" />
    </div>
  </div>

</section>


<section>

  <div class="row m-5 pt-3" style="text-align: center;">
    <div class="col-sm-6 bg2" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
      <img src="../../../assets/image/read_blog.png" class="img-fluid" />
    </div>
    <div class="col-sm-6" data-aos="fade-up-left" data-aos-easing="linear" data-aos-duration="1500">
      <h2>Blogs</h2>
      <span class="border border-bottom-0"></span>
      <br />
      <p class="desc m-3 pt-3">
        Targeted advertising campaigns on Facebook, Instagram, LinkedIn, Snapchat, Youtube allow you to get more
        potential
        clients into your funnel and increase revenue drastically. We increase ROI and ROAS by segmenting the audience
        to
        bring the individual message to each audience. Bringing them the maximum value, and you the maximum profit.
      </p>
    </div>
  </div>

</section>

<section>

  <div class="row m-5 pt-4" style="text-align: center;">
    <div class="col-sm-6 order-2 order-lg-1" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
      <h2>CV Maker</h2>
      <span class="border border-bottom-0"></span>
      <br />
      <p class="desc m-3  pt-3">
        Targeted advertising campaigns on Facebook, Instagram, LinkedIn, Snapchat, Youtube allow you to get more
        potential
        clients into your funnel and increase revenue drastically. We increase ROI and ROAS by segmenting the audience
        to
        bring the individual message to each audience. Bringing them the maximum value, and you the maximum profit.
      </p>
    </div>
    <div class="col-sm-6 order-1 order-lg-2" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
      <img src="../../../assets/image/cv.png" class="img-fluid" />
    </div>
  </div>

</section>


<section>

  <div class="row m-5 pt-3" style="text-align: center;">
    <div class="col-sm-6" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
      <img src="../../../assets/image/apartment.png" class="img-fluid" />
    </div>
    <div class="col-sm-6" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
      <h2>Accomodation</h2>
      <span class="border border-bottom-0"></span>
      <br />
      <p class="desc m-3  pt-3">
        Targeted advertising campaigns on Facebook, Instagram, LinkedIn, Snapchat, Youtube allow you to get more
        potential
        clients into your funnel and increase revenue drastically. We increase ROI and ROAS by segmenting the audience
        to
        bring the individual message to each audience. Bringing them the maximum value, and you the maximum profit.
      </p>
    </div>
  </div>

</section>


<section>
  <div class="row m-5 pt-4" style="text-align: center;">
    <div class="col-sm-6 order-2 order-lg-1" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
      <h2>Taxi Service</h2>
      <span class="border border-bottom-0"></span>
      <br />
      <p class="desc m-3  pt-3">
        Targeted advertising campaigns on Facebook, Instagram, LinkedIn, Snapchat, Youtube allow you to get more
        potential
        clients into your funnel and increase revenue drastically. We increase ROI and ROAS by segmenting the audience
        to
        bring the individual message to each audience. Bringing them the maximum value, and you the maximum profit.
      </p>
    </div>
    <div class="col-sm-6 order-1 order-lg-2" data-aos="fade-up-left" data-aos-easing="linear" data-aos-duration="1500">
      <img src="../../../assets/image/taxi.png" class="img-fluid" />
    </div>
  </div>
</section>


<section>

  <div class="row m-5 pt-3" style="text-align: center;">
    <div class="col-sm-6" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
      <img src="../../../assets/image/document.png" class="img-fluid" />
    </div>
    <div class="col-sm-6" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
      <h2>Documentation</h2>
      <span class="border border-bottom-0"></span>
      <br />
      <p class="desc m-3 pt-3">
        Targeted advertising campaigns on Facebook, Instagram, LinkedIn, Snapchat, Youtube allow you to get more
        potential
        clients into your funnel and increase revenue drastically. We increase ROI and ROAS by segmenting the audience
        to
        bring the individual message to each audience. Bringing them the maximum value, and you the maximum profit.
      </p>
    </div>
  </div>

</section>

<section>
  <app-contactus></app-contactus>
</section>
