<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="title">Contact</h2>
        <sub class="sub-title">ANY QUESTIONS. DROP US A LINE ❤️</sub>
      </div>
      <div class="col-sm-6">
        <div id="container">
          <div class="error" [class.hidden]="errorMsg.length == 0">
            <p>{{errorMsg}}</p>
            <span (click)="closeError()" class="close">✖︎</span>
          </div>
          <h1>Feedback Form</h1>
          <hr>
          <p>We’d like your feedback to improve our website.</p>
          <form [formGroup]="feedbackForm" name="feedbackForm" (ngSubmit)="onSubmit()">
            <div id="options">
              <p class="radioOption">
                <input formControlName="type" type="radio" id="suggestion" name="type" value="suggestion">
                <label for="suggestion">Suggestion</label><br>
              </p>
              <p class="radioOption">
                <input formControlName="type" type="radio" id="comment" name="type" value="comment">
                <label for="comment">Comment</label><br>
              </p>
              <p class="radioOption">
                <input formControlName="type" type="radio" id="question" name="type" value="question">
                <label for="question">Question</label><br>
              </p>
            </div>
            <div class="inputContainer">
              <label>Description:</label>
              <textarea rows="6" formControlName="description"></textarea>
            </div>
            <div class="inputContainer">
              <div id="ratingLabel">
                <label>How would you rate our site?</label>
                <label id="ratingValue">{{feedbackForm.value?.rating}}</label>
              </div>
              <input formControlName="rating" type="range" name="rating" max="5">
            </div>
            <div class="inputContainer">
              <label>Name:</label>
              <div class="nameInput">
                <input formControlName="firstName" type="text" name="firstName" placeholder="First">
                <input formControlName="lastName" type="text" name="lastName" placeholder="Last">
              </div>
            </div>
            <div class="inputContainer">
              <label>Email:</label>
              <input formControlName="email" type="email" name="email">
            </div>
            <div class="inputContainer">
              <button type="submit" [disabled]="feedbackForm.invalid">Submit Feedback</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="add-title ">Europe France</h3>
        <br />
        <sub class="sub-title">1 rue de conde <br /> 78150 Le chesnay ,Paris</sub>
      </div>
    </div>
  </div>

  <div class="row  m-5 pt-3">
    <div class="col-sm-4 mb-3">
      <div class="bt">
        <button type="button" class="btn bt">Telegram <span class="icon fa fa-send"></span></button>
      </div>
    </div>

    <div class="col-sm-4 mb-3">
      <div class="bt">
        <button type="button" class="btn bt">watsapp <span class="icon fa fa-comment"></span></button>
      </div>
    </div>


    <div class="col-sm-4 mb-3">
      <div class="bt">
        <button type="button" class="btn bt">eugo.gmail.com</button>
      </div>
    </div>


  </div>

</section>

<section>

</section>
