<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="title">Contact</h2>
        <sub class="sub-title">ANY QUESTIONS. DROP US A LINE ❤️</sub>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="add-title ">Europe France</h3>
        <br />
        <sub class="sub-title">1 rue de conde <br /> 78150 Le chesnay ,Paris</sub>
      </div>
    </div>
  </div>

  <div class="row  m-5 pt-3">
    <div class="col-sm-4 mb-3">
      <div class="bt">
        <button type="button" class="btn bt">Telegram <span class="icon fa fa-send"></span></button>
      </div>
    </div>

    <div class="col-sm-4 mb-3">
      <div class="bt">
        <button type="button" class="btn bt">watsapp <span class="icon fa fa-comment"></span></button>
      </div>
    </div>


    <div class="col-sm-4 mb-3">
      <div class="bt">
        <button type="button" class="btn bt">eugo.gmail.com</button>
      </div>
    </div>


  </div>

</section>

<section>

</section>
