
<section>
  <div class="container">
    <div class="row m-5 pt-5">
      <div class="col-sm-12">
        <h1>About US -</h1>
        <sub>CREATIVE AGENCY BUILT TO BUILD MODERN BRANDS</sub>
      </div>
    </div>

    <div class="row m-5 pt-5">

      <div class="col-sm-3">
        <div class="card border border-0">
          <div class="card-body">
            <h3>Research</h3>
            <p>We will make a brand strategy session focused on solving business challenges through design.</p>
          </div>
        </div>

      </div>

      <div class="col-sm-3">
        <div class="card border border-0">
          <div class="card-body">
            <h3>Concept</h3>
            <p>Summarize all the facts. Prototype identity and visuals. Catch an emotion and ignite it.</p>
          </div>
        </div>

      </div>

      <div class="col-sm-3">
        <div class="card border border-0">
          <div class="card-body">
            <h3>Development</h3>
            <p>Summarize all the facts. Prototype identity and visuals. Catch an emotion and ignite it.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card border border-0">
          <div class="card-body">
            <h3>Support</h3>
            <p>Summarize all the facts. Prototype identity and visuals. Catch an emotion and ignite it.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<section>
  <div class="container">
    <div class="row m-5 pt-5">
      <div class="col-sm-6 pt-5" style="text-align: center;">
        <img src="../../../assets/image/teams.webp" class="img-fluid" style="padding-top: 45px;" />
      </div>
      <div class="col-sm-6" style="height: 550px; text-align: center;">
        <div class="card h-100 bg-secondary border border-0" style="color: rgb(255, 255, 255);">
          <div class="card-body m-3 p-3">
            <h4> We solve business problems through New Technology</h4>
            <br />
            <p style="padding-top: 15px;">We love the modern world. Seriously, everything is awesome nowadays. Planes
              are flying, electro cars are
              everywhere, favorite smoothie in a few taps distance.

              Technology shapes our life. In a good way of course.

              We’re proud to be part of it. To do our best to design and develop online products for great user
              experience. To help brands to grow and shape their online presence. Hack growth and deliver. We ignore
              obstacles and find a path.

              That’s how we do it. Don’t stop. Evolve. Try new things.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row m-5 pt-5 ">
      <div class="col-sm-12" style="text-align: center;">
        <div class="card h-100 bg-secondary border border-0" style="color: rgb(255, 255, 255);">
          <div class="card-body m-3 p-5">
            <h3>We are passionate people</h3>
            <br />
            <p> We work only with people who passionate about the business of design. At least as much as our core
              members
              do.
              That’s why we grow slowly and steadily. But with confidence that every team member shares our core values.
            </p>
            <br />
            <br />
            <br />
            <div class="row">
              <div class="col-sm-3">
                <div class="card border border-0" style="width:200px">
                  <img class="card-img-top" src="../../../assets/image/image3.jpg" alt="Card image" class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title" style="color: rgb(105, 101, 101);">Maturi karthik</h4>
                    <sub style="color: rgb(105, 101, 101);">Co-Founder</sub>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card border border-0" style="width:200px">
                  <img class="card-img-top" src="../../../assets/image/image3.jpg" alt="Card image" class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title" style="color: rgb(105, 101, 101);">Meghana Aravi</h4>
                    <sub style="color: rgb(105, 101, 101);">Co-Founder / CEO</sub>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card border border-0" style="width:200px">
                  <img class="card-img-top" src="../../../assets/image/image3.jpg" alt="Card image" class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title" style="color: rgb(105, 101, 101);">John Doe</h4>
                    <sub style="color: rgb(105, 101, 101);">Co-Founder</sub>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card border border-0" style="width:200px">
                  <img class="card-img-top" src="../../../assets/image/image3.jpg" alt="Card image" class="img-fluid">
                  <div class="card-body">
                    <h4 class="card-title" style="color: rgb(105, 101, 101);">John Doe</h4>
                    <sub style="color: rgb(105, 101, 101);">Co-Founder</sub>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
