<div class="container-fluid">

  <div class="w-75 row m-5 pt-4">
    <div class="col-12 m-15 p-15">
      <h2>&#8212;
        Market Place. &#8212;
      </h2>
      <br />
      <sub>This page contains HTML code for adding an em dash within the text of your website or blog.The em dash is a
        punctuation mark that can be used in place of a comma, parentheses, or a colon — usually for the purposes of
        improved readibility.This page contains HTML code for adding an em dash within the text of your website or
        blog.The em dash is a
        punctuation mark that can be used in place of a comma, parentheses, or a colon — usually for the purposes of
        improved readibility</sub>
    </div>
  </div>

  <div class="row m-5 pt-4">
    <div class="col-lg-4 col-sm-6 mb-4" *ngFor="let item of productList">
      <div class="card h-100" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-easing="linear"
        data-aos-duration="1500">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{item.title}}</a>
          </h4>
          <p class="card-text">{{item.description}}<br />
            Reference: {{item.id}}<br />
            Price: {{item.price}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
      data-aos-easing="linear" data-aos-duration="1500">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Two</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
            gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
      data-aos-easing="linear" data-aos-duration="1500">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Three</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed
            cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia
            recusandae vero vel quam!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
      data-aos-easing="linear" data-aos-duration="1500">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Four</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
            gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
      data-aos-easing="linear" data-aos-duration="1500">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Five</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
            gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
      data-aos-easing="linear" data-aos-duration="1500">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Project Six</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit
            ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat
            excepturi! Nemo, esse.</p>
        </div>
      </div>
    </div>
  </div>
</div>
