<!--
<div class="container-fluid" style="background-color: #E8E8E8;">

  <div class="row">
    <div class="col-sm-1">
      <app-side-nav></app-side-nav>

    </div>
    <div class="col-sm-11">
      <router-outlet> </router-outlet>
    </div>
  </div>



</div>
-->




<div class="flex">
  <div class="flex-fix">
    <app-side-nav></app-side-nav>
  </div>
  <div class="flex-cnt">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <router-outlet></router-outlet>
          <app-contactus></app-contactus>
        </div>
      </div>
    </div>
  </div>
</div>

