/* new design */
.eu {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.5rem, 2.5vw, 3.938rem);
  font-weight: 600;
  line-height: 67px;
  color: #6b61f5;
}

.go {
  font-family: "Open Sans", sans-serif;
  font-size: 53px;
  font-weight: 300;
  line-height: 34px;
  color: #cb9f67;
}

.nav-mb {
  visibility: hidden;
}

.menu {
  font-style: "Poppins, sans-serif";
  font-size: 13px;
  font-weight: 600;
  line-height: 80px;
  color: rgb(29, 29, 29);
}

.menu_1:hover,
.menu_2:hover,
.menu_3:hover,
.menu_4:hover,
.menu_5:hover,
.menu_6:hover {
  color: blue;
  text-decoration: underline;
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .nav-mb {
    visibility: hidden;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .nav-bg {
    display: none;
  }

  .nav-mb {
    visibility: visible;
  }


}

section {
  padding: 20px;
  cursor: pointer;
}

/* EOF new design */

/** Big Menu Display **/

.big-menu {
  cursor: pointer;
  padding-left: 554px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #262626;
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  line-height: 40px;
  color: #9a9a9c;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0.98;
}

.close {
  text-align: left;
  margin: 1em;
  color: white;
}

.big-menu > .close:hover {
  color: #9a9a9c;
}
.big-menu > .cnt {
  position: relative;
  top: 5em;
}

.big-menu > .cnt > div {
  margin: 5px;
}

.big-menu > .cnt > div:hover {
  color: rgb(172, 172, 228);
}

.big-menu > .cnt > .tag {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #f7f7f7;
}

.app-bar {
  display: none;
}
/** EOF Big Menu **/

@media screen and (max-width: 1024px) {
  .side-nav {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    position: relative;
    height: 55px;
    width: 100%;
  }
  .menu-ic {
    flex: 1;
  }
  .side-nav > .tag {
    flex: 100;
  }

  .side-nav > .tag > p {
    margin-top: 13px;
    writing-mode: horizontal-tb;
    font-size: 10px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    color: #595959;
    transform: rotate(0deg);
  }
  .media-share {
    display: none;
  }

  /** Big menu **/

  .big-menu {
    cursor: pointer;
    padding-left: 54px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #262626;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    line-height: 40px;
    color: #9a9a9c;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0.98;
  }
}

/** Test **/
