<section class="p-2">
  <div class="row nav-bg">
    <div class="col-md-12 d-flex justify-content-between">
      <h1>
        <span class="eu">Eu</span><span class="go">g<i class="fas fa-globe-europe logo"></i></span>
      </h1>
      <nav class="menu d-flex  justify-content-around  mt-2 pt-2 w-75">
        <div class="menu_1 mt-2 pt-1" (click)="navigate('',false)">.Home</div>
        <div class="menu_2 mt-2 pt-1" (click)="navigate('/blogs',false)">.Blogs</div>
        <div class="menu_3 mt-2 pt-1" (click)="navigate('/service',false)">.Our Services</div>
        <div class="menu_4 mt-2 pt-1" (click)="navigate('/market',false)">.Market Place</div>
        <div class="menu_5 mt-2 pt-1" (click)="navigate('/about',false)">.About Us</div>
        <div class="menu_5 mt-2 pt-1" (click)="navigate('/login',false)">.Try now</div>
      </nav>
    </div>
  </div>

  <div class="row nav-mb">
    <div class="col-md-12 d-flex flex-row  mb-3 justify-content-between">
      <div class="menu-bt pt-2 m-2">
        <i (click)="toggleMenu(true)" class="fas fa-stream"></i>
      </div>
      <div>
        <span class="eu">Eu</span><span class="go">g<i class="fas fa-globe-europe logo"></i></span>
      </div>
      <div class=" menu menu_5 pt-2 m-2" (click)="navigate('/login',false)">.Try now</div>
    </div>
  </div>

</section>

<!-- Full screen menu -->
<div class="big-menu" *ngIf="bigMenuStatus === true">
  <div class="close" (click)="toggleMenu(false)">
    <div class="fa fa-close"></div>
  </div>
  <div class="cnt">
    <div (click)="navigate('',false)">. Home</div>
    <div (click)="navigate('/blogs',false)">. Blogs</div>
    <div (click)="navigate('/service',false)">. Our Services</div>
    <div (click)="navigate('/market',false)">. Market Place</div>
    <div (click)="navigate('/about',false)">. About Us</div>
    <div data-netlify-identity-button></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="tag">© CopyRight 2020 Created with ♥ in meghaSolution</div>
  </div>
</div>